[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Dan Leonard
	email = daniel@danleonard.us
	signingkey = EC2323C5
[commit]
	gpgsign = true
[color]
	branch = true
	diff = true
	status = true
        showbranch = true
	ui = true
[core]
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
        excludesfile = ~/.gitignore-rab
[apply]
	whitespace = nowarn
[branch]
	autosetuprebase = always
[rerere]
	enabled = 1
[log]
        date = short
[gpg]
	program = gpg.exe
